extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Dashboard';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .row
            .col-xl-4.col-md-6
                .card.bg-primary.text-white.mb-4
                    .card-body
                        .row.g-0.align-items-center
                        .col
                            #totalUsers.fs-2.fw-bold
                                | 0
                            .text-white-50.fs-6
                                | Users
                    .card-footer.d-flex.align-items-center.justify-content-between
                        a(href='users.html').small.text-white.stretched-link
                            | View Details
                        .small.text-white
                            i.fas.fa-angle-right
            .col-xl-4.col-md-6
                .card.bg-success.text-white.mb-4
                    .card-body
                        .row.g-0.align-items-center
                        .col
                            #totalRecipes.fs-2.fw-bold
                                | 0
                            .text-white-50.fs-6
                                | Recipes
                    .card-footer.d-flex.align-items-center.justify-content-between
                        a(href='#').small.text-white.stretched-link
                            | View Details
                        .small.text-white
                            i.fas.fa-angle-right
            .col-xl-4.col-md-6
                .card.bg-info.text-white.mb-4
                    .card-body
                        .row.g-0.align-items-center
                        .col
                            #totalProducts.fs-2.fw-bold
                                | 0
                            .text-white-50.fs-6
                                | Products
                    .card-footer.d-flex.align-items-center.justify-content-between
                        a(href='#').small.text-white.stretched-link
                            | View Details
                        .small.text-white
                            i.fas.fa-angle-right
            
        .row

            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-area.me-1
                        | Area Chart Example
                    .card-body
                        canvas#myAreaChart(width='100%', height='40')
                    
            .col-xl-6
                .card.mb-4
                    .card-header
                        i.fas.fa-chart-bar.me-1
                        | Bar Chart Example
                    .card-body
                        canvas#myBarChart(width='100%', height='40')
        
        
       
append scripts
    //- Load Chart.js and demos
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='assets/demo/chart-area-demo.js')
    script(src='assets/demo/chart-bar-demo.js')
    script(src="js/dashboard.js") 
